extends layout

block content

  label
    | Command
    input(id="command", type='text', name='command')
  label
    | Args
    input(id="args", type='args', name='args')
  a(id="submit")
    "submit"